body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;

}
*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    /* border-radius: 10px 10px 0px 0px; */
}
.d1
{
    display: flex;

}

.logo img {
    height: 30px;
    width: 30px;
  
}
.t01
{
 
        color: black;
        margin-top: 7px;


}


.title h3 {
    color: #050505;
    margin-left: 10px;
    
    font-size: 24px;
}


.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #131313;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #10e2ed;
}

select
{
    font-weight: bold;
    border: none;
    background-color: white;
}

.btn {
    background-color: #0a0a09;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.btn:hover {
    background-color: #e67e22;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 150px; 
    font-weight: bold;
    margin-top: 80px;
}
.text h5
{
    align-items: center;
    text-align: center;

}
.fotTitle
{
    text-align: center;
    
}
hr
{
    margin-top: 100px;
}
footer
{
    margin-top: 10px;

    align-items: center;
    display: flex;
    justify-content: center;
    
}
hr
{
    height: 30px;
    background-image: linear-gradient(to right, rgb(10, 10, 10) , rgb(109, 109, 103));


}
.i1 , .i2 ,.i3 , .i4
{
    width: 50px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
     margin-top: 30px;
     padding: 4px;

  
    
}

